<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Medico</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/theme.js"></script>
</head>
<body>
    <div class="navbar">
        <button onclick="toggleDarkMode()">Modo Oscuro</button>
        <button th:onclick="'window.location.href=' + @{/medico/inicio}">Salir</button>
    </div>
    <div class="container">
        <h2>¡Bienvenido Medico!</h2>
        <p>Has iniciado sesión con éxito.</p>
        <button th:onclick="'window.location.href=' + @{/medico/inicio}">Cerrar Sesión</button>
    </div>
</body>
</html>