<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Paciente</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <script src="/js/theme.js"></script>
</head>
<body>
    <div class="navbar">
        <button onclick="toggleDarkMode()">Modo Oscuro</button>
    </div>
    <div class="container">
        <h2>Inicio de Sesión - Paciente</h2>
        <form th:action="@{/paciente/login}" method="post">
            <input type="text" name="usuario" placeholder="Usuario">
            <input type="password" name="contrasena" placeholder="Contraseña">
            <button type="submit">Ingresar</button>
        </form>
        <a class="link" th:href="@{/paciente/registro}">Registrarse</a>
    </div>
</body>
</html>